@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

.navbar {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 69.375rem;
    height: 3.8rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b1b1b;
    padding: 1.5rem 4.6rem;
    position: fixed;
    top: 0;
    border-radius: 0px 0px 8px 8px;
    z-index: 1000;
}

.medias {
    display: inline-block;
    padding: 30px;
    border-left: 6rem;
}

/* Estilizando a lista de links do menu */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilizando cada item de menu */
.navbar li {
    display: inline-block;
    margin-right: 4.375rem;
}

/* Estilizando os links do menu */
.navbar a {
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #9c9c9c;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff6600;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 4rem;
        flex-direction: column;
        margin: 0px;
        left: 0px;
        right: 0px;
        padding: 1.5rem 0rem;
    }

    .navbar li {
        margin-bottom: 20px;
        margin-right: 1.8rem;
    }
}
