@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

.bodyTecs {
    margin: 0 0 4rem;
}

.tecs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 30px;
}

.css {
    grid-area: 1 / 1 / 2 / 2;
}
.git {
    grid-area: 1 / 2 / 2 / 3;
}
.javascript {
    grid-area: 1 / 3 / 2 / 4;
}
.ruby {
    grid-area: 1 / 4 / 2 / 5;
}
.java {
    grid-area: 2 / 1 / 3 / 2;
}
.div7 {
    grid-area: 2 / 2 / 3 / 3;
}
.react {
    grid-area: 2 / 3 / 3 / 4;
}
.mongodb {
    grid-area: 2 / 4 / 3 / 5;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #9c9c9c;
    font-weight: bold;
    font-size: 35px;
}

.tecs h3 {
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #9c9c9c;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .tecs {
        display: grid;
        margin-left: 0.4rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .tecs {
        margin-right: auto;
    }

    .html {
        grid-area: 1 / 1 / 2 / 2;
    }
    .css {
        grid-area: 1 / 2 / 2 / 3;
    }
    .git {
        grid-area: 1 / 3 / 2 / 4;
    }
    .javascript {
        grid-area: 2 / 1 / 3 / 2;
    }
    .ruby {
        grid-area: 2 / 2 / 3 / 3;
    }
    .java {
        grid-area: 2 / 3 / 3 / 4;
    }
    .react {
        grid-area: 3 / 1 / 4 / 2;
    }
    .mongodb {
        grid-area: 3 / 2 / 4 / 3;
    }
}
